// Import Sass files in here to be compiled into one CSS file
@import "_variables";

// If you want just write your Sass below.

p {
    // placeholder to get files compiled for repo
    color: $black;
}

a {

    &:hover {

    }
}
